@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.header-bar {
    background-color: black;
}

#menu li > a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(73, 69, 69)
}

.carousel-inner {
    max-height: 39rem;
}

.img-resto {
    background-color: black;
}

.img-back {
    background-color: black;
}

.form-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: black;
    min-height: 100px;
}

footer p {
    color: white;
    /* text-align: left; */
}

/* #icons {
    text-align: right;
} */

#icons i {
    padding: 0 8px;
    color: white;
}

@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
}


