
body {
    font-family: 'Inter', sans-serif;
}

#menu li > a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(73, 69, 69)
}

.carousel-inner {
    max-height: 39rem;
}

.box-img-resto, .img-back, footer, .header-bar {
    background-color: black;
}

.images-restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    min-height: 100px;
}

footer p {
    color: white;
}


#icons i {
    padding: 0 8px;
    color: white;
}

.box-food {
    background-color: white;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}
.info-contact {
    background-color: black;
    display: flex;
    flex-direction: column;
}
.info-job {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-map {
    max-height: 340px;
}

@media (max-width: 576px) {
    .img-map {
        width: 80% !important;
    }
}

@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
    .img-map {
        width: 80% !important; 
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
