@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

#menu li > a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(73, 69, 69)
}

.carousel-inner {
    max-height: 39rem;
}

@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
}